/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/


:root {
  --q-menu-background: #232638;
  --q-secondary-color: #0074D9;
  --q-button-text-color: #f8f8f8;
  --q-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}


html {
  --q-unit-mini:  4px;
  --q-unit-base:  8px;
  --q-unit-double: 16px;
  --q-unit-big:  24px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
