/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/


:root {
  --q-menu-background: unset;
  --q-sub-menu-background: unset;
  --q-side-menu-background: #232638;
  --q-side-sub-menu-background: #1f2642;
  --q-secondary-color: #0074D9;
  --q-button-text-color: black;
  --q-menu--button-border-bottom-color: #232638;
  --q-side-button-text-color: white;
  --q-sub-button-text-color: black;
  --q-side-sub-button-text-color: white;
  --q-icon-open-color: black;
  --q-icon-close-color: white;
  --q-transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}


html {
  --q-unit-mini:  4px;
  --q-unit-base:  8px;
  --q-unit-double: 16px;
  --q-unit-big:  24px;
}
